#footer{
    margin: 0;
    width: 100%;
    background-color: #111111;
    height: 56px;
    position: relative;
}

#github{
    height: 32px !important;
    width: 32px !important;
    filter: invert();
    margin: 0;
    position: absolute;
    top: 50% !important;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}